.editor__chapter-column {
  position: relative;
  border: 2px dashed #d0d0d0;
  padding: 20px;
  min-height: 200px;
  width: 100%;
  height: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.drag-here-sign {
  z-index: -1;
  display: inline-flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  color: #b9b6b6;
  font-size: 20px;
  position: absolute;
}

@media only screen and (max-width: 1300px) {
  .editor__chapter-column {
    padding: 5px;
  }

  .editor-book__column-headers {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .editor-book__column-headers {
    font-size: 16px;
  }
}