
.chapter-preview {
  display: flex;
  align-items: center;
  height: 112px;
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid #c0c0c0;
  text-decoration: none !important;
  margin-bottom: 20px;
  padding: 0 35px;
  box-shadow: 0 3px 0 0 #d9d9d9;
}

.chapter-preview:hover, a.chapter-preview:focus {
  box-shadow: none;
  outline: 3px solid #d9d9d9;
}

.chapter-preview.completed-chapter {
  border-left: 20px solid #c0c0c0;
}

.chapter-preview__chapter-details h2 {
  margin: 3px 0 0;
  font-size: 30px;
  display: inline-block;
  font-family: 'Libre Baskerville', serif;
  color: #242425;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.chapter-preview:hover h2 {
  color: #990D35;
}

span.chapter-preview__chapter-index {
  font-size: 14px;
  font-weight: 500;
  color: #48484a;
}

.chapter-preview__completion-indicator {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  letter-spacing: 0.8px;
  left: -65px;
  height: 20px;
  width: 112px;
  top: 45px;
  background-color: #4d5b75;
  box-shadow: -3px 0 0 0 #d9d9d9;
  color: #f7f7f7;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.chapter-preview__completed-date {
  position: absolute;
  right: 40px;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #838383;
}

@media only screen and (max-width: 1300px) {
  .chapter-preview__chapter-details h2 {
    font-size: 24px;
  }

  .chapter-preview__chapter-index {
    font-size: 12px;
  }

  .chapter-preview__completion-indicator {
    height: 10px;
    left: -61px;
    top: 50px;
  }

  .chapter-preview__completion-indicator span {
    display: none;
  }

  .chapter-preview {
    padding: 0 20px;
  }

  .chapter-preview.completed-chapter {
    border-left: 10px solid #c0c0c0;
  }
}

@media only screen and (max-width: 600px) {
  .chapter-preview__chapter-details h2 {
    font-size: 18px;
  }

  .chapter-preview__chapter-index {
    font-size: 12px;
  }

  .chapter-preview__completed-date {
    display: none;
  }
}
