.article__plugin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__header {
  margin: 0 auto;
  padding: 60px 80px 40px;
  width: 100%;
  max-width: 1280px;
  background-color: #f7f7f7;
  box-shadow: inset 0 5px 0 0 #00000014;
}

.article__header a {
  color: #242425;
  text-decoration: none;
}

.article__header a:hover {
  
  text-decoration: underline;
}

.article__header span {
  border-radius: 5px;
  font-size: 14px;
  color: #242425;
  font-weight: 500;
}

.article__chessboard-holder {
  margin-bottom: 10px;
}

.article__caption {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #666667;
}

.article__source {
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  color: #7a7a7a;
}
.article-container p, .article-container li, .article-container h2 {
  color: #242425;
}

.article-container h2 {
  font-size: 24px;
  margin-top: 40px;
  text-transform: capitalize;
}

.article-container p, .article-container li {
  font-size: 18px;
}

.article-container li {
  line-height: 22px;
}

.article-container p {
  line-height: 29px;
  margin-bottom: 20px;
  margin-top: 0;
}

.article-container figure {
  margin-top: 30px;
  margin-bottom: 50px;
}

.article-container blockquote {
  color: #48484a;
  line-height: 22px;
  padding: 10px 10px;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
}

.article-container blockquote:before {
  font-family: 'Libre Baskerville', serif;
  content: open-quote;
  font-size: 36px;
  color: #666667;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.article-container h1 {
  color: #242425;
}

.article-container a {
  font-weight: 500;
  text-decoration: none;
}

.article-container a:hover {
  text-decoration: underline;
}

.article__chapter-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 70px;
}

.article__chapter-buttons-holder {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.article__chapter-controls a, .article__chapter-controls button {
  background-color: #f7f7f7;
  width: 60px;
  height: 40px;
  border: 1px solid #c0c0c0;
  box-shadow: 0 3px 0 0 #00000014;
}

.article__chapter-controls button {
  outline: none;
}

.article__chapter-controls a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__chapter-controls button:hover:not(:disabled) {
  cursor: pointer;
}

.article__chapter-controls a:hover, 
.article__chapter-controls a:focus,
.article__chapter-controls button:hover:not(:disabled),
.article__chapter-controls button:focus:not(:disabled) {
  outline: 3px solid #00000014;
  text-decoration: none;
}

@media only screen and (max-width: 1300px) {
  .article__header {
    padding: 60px 40px 40px;
    width: calc(100% - 40px);
  }

  .article-container h1 {
    font-size: 34px;
  }

  .article-container p, .article-container li {
    font-size: 16px;
  }

  .article__caption {
    font-size: 13px;
  }
}

@media only screen and (max-width: 600px) {
  .article__header {
    padding: 30px 10px 30px;
    width: calc(100% - 40px);
  }
  
  .article-container h1 {
    font-size: 28px;
  }

  .article-container h2 {
    font-size: 18px;
  }

  .article__header span {
    font-size: 12px;
  }

  .article-container p, .article-container li {
    font-size: 14px;
  }

  .article__caption {
    font-size: 12px;
  }

  .article-container blockquote {
    font-size: 12px;
    margin: 12px 10px;
  }
}

@media only screen and (max-width: 500px) {
  .article-container figure {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}


