.home-page__header {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 125px !important;
  margin-bottom: 140px !important;
  padding: 0 30px !important;
  color: #242425;
}

.home-page__book-details {
  width: calc(100% - 35px);
  position: relative;
}

.home-page__header h1, .home-page__header h3 {
  padding-right: 5px;
  margin: 0;
}

.home-page__header-book-button {
  position: relative;
  padding: 0;
  padding-top: 3px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: #838383;
  font-size: 22px;
  outline: none;
  background-color: #f7f7f7;
  border: 1px solid #c0c0c0;
  box-shadow: 0 3px 0 0 #d9d9d9;
}

.home-page__header-book-button:hover {
  cursor: pointer;
}

.home-page__header-book-button:hover, .home-page__header-book-button:focus {
  box-shadow: none;
  outline: 3px solid #d9d9d9;
}

.book-select__dropdown-menu {
  width: 300px;
  height: 190px;
  right: 90px;
}

.book-select__dropdown-menu:after {
	left: 100%;
	top: calc(50% - 16px);
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: #00000000;
  border-left-color: #242831;
  /* border-width: 0 16px 8px 16px; */
  border-width: 16px 0 16px 8px;
}

@media only screen and (max-width: 600px) {
  .home-page__header {
    margin-top: 60px !important;
    margin-bottom: 80px !important;
  }

  .home-page__header h1 {
    font-size: 32px;
  }

  .home-page__header h3 {
    font-size: 20px;
  }

  .book-select__dropdown-menu {
    top: 90px;
    right: 30px;
  }

  .book-select__dropdown-menu:after {
    bottom: 100%;
    top: unset;
    left: unset;
    right: 5px;
    border-color: #00000000;
    border-bottom-color: #242831;
    /* border-width: 0 16px 8px 16px; */
    border-width: 0 16px 8px 16px;
  }
}


@media only screen and (max-width: 400px) {
  .home-page__header h1 {
    font-size: 26px;
  }

  .home-page__header h3 {
    font-size: 16px;
  }
}